project:
  type: website
  output-dir: docs 

website:
  title: "我的笔记"
  navbar:
    left:
      - href: index.qmd
        text: Home

      - text: 笔记
        menu:
          - text: 测试网站和网站用法
            href: notebooks/test.ipynb

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



